/*-----------------
	39. Color
-----------------------*/

$__primarycolor: #74aef5;
$__primarycolor__dark: #226cc8;
$__secondarycolor: #192335;
$__primarylight: #61bfce;
$__success: #4adf90;
$__darkgray: #6b7385;
$__lightgray: #eaedf0;
$__dullgray: #eeeeee;
$__yellow__dark: #ffaa00;
$__red: #f50303;
$__darkash: #a0a0a0;
$__lightash: #a8a8a8;
$__whitesmoke: #f5f5f5;
$__light__whitesmoke: #fafafa;
$__dull__whitesmoke: #eff5ff;
$__white: #ffffff;
$__darkblue: #1e3259;
$__active_color: #aaf40c;
$__parrot_green: #19c83f;
$__star__blue: #aacaff;
$__secondary__dark__rgba: rgba(36, 29, 57, 0.8);
$__gradient__color: linear-gradient(105.55deg, #aacaff -6.68%, #61bfce 43.13%, #4adf90 96.15%);
$__reverse__gradient__color: linear-gradient(
    105.55deg,
    #4adf90 -6.68%,
    #61bfce 43.13%,
    #aacaff 96.15%
);
$__row__box__shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
$__listing__box__shadow: 0px 4px 24px rgba(212, 212, 212, 0.25);
$__warning__bg: rgba(245, 3, 3, 0.04);
$__head__gray: linear-gradient(93.86deg, #aacaff -2.6%, #61bfce 67.39%, #4adf90 110.84%);
$__bg__gray: linear-gradient(105.55deg, #085a6ce6 -6.68%, #269089e6 43.13%, #7abc82e6 96.15%);
$__warning__bg: rgba(245, 3, 3, 0.04);
$__footer__bg: #0a1a38;
$__item__box__shadow: 0px 4px 24px rgba(201, 201, 201, 0.25);
$__warning__text: #ff675b;
$__input__group__border: #e2e7f1;
$__facebook: #3080f8;
$__instagram: #ff2d20;
$__behance: #0066ff;
$__behance_viloet: #7756c9;
$__twitter: #35b6ff;
$__footer__bg: #0a1a38;
$__dull__text: #7c7c7c;
$__black__light: rgba(168, 168, 168, 0.2);
$__black__red: rgba(245, 3, 3, 0.2);
$__bright__gray: #eaedf0;
$__dark__gradient__bg: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$__light__white__bg: rgba(255, 255, 255, 0.95);
$__dark__viloet__bg: rgba(119, 86, 201, 0.2);
$__dark__blue__bg: rgba(12, 174, 244, 0.2);
$__pink: #f50366;
$__dot__shadow: 0px 4px 14px rgba(160, 160, 160, 0.25);
$__insta__gradient__bg: linear-gradient(
    315deg,
    #fbe18a 0.96%,
    #fcbb45 21.96%,
    #f75274 38.96%,
    #d53692 52.96%,
    #8f39ce 74.96%,
    #5b4fe9 100.96%
);
$__paid__color: rgba(27, 179, 51, 0.2);
$__light__green: rgba(170, 244, 12, 0.3);
$__greycolor: #e3e2e2;
$__text_dark: #000;
$__greenish__bg: rgba(255, 242, 242, 0.13);
$__gray__dark: #dbdbdb;
$__gray__light: #dedede;
$__green__light: #20dc49;
$__red__light: #d93f21;
$__light__black: #474545;
$__chat__green: #17da9f;
$__dark__red: #ca0d0d;
