/*-----------------
    1. Typography
-----------------------*/

$verdana-font-path: "../../fonts/Verdana";

@font-face {
    font-family: "Verdana";
    src: url($verdana-font-path + "/Verdana-BoldItalic.eot");
    src:
        local("Verdana Bold Italic"),
        local("Verdana-BoldItalic"),
        url($verdana-font-path + "/Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url($verdana-font-path + "/Verdana-BoldItalic.woff2") format("woff2"),
        url($verdana-font-path + "/Verdana-BoldItalic.woff") format("woff"),
        url($verdana-font-path + "/Verdana-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url($verdana-font-path + "/Verdana-Italic.eot");
    src:
        local("Verdana Italic"),
        local("Verdana-Italic"),
        url($verdana-font-path + "/Verdana-Italic.eot?#iefix") format("embedded-opentype"),
        url($verdana-font-path + "/Verdana-Italic.woff2") format("woff2"),
        url($verdana-font-path + "/Verdana-Italic.woff") format("woff"),
        url($verdana-font-path + "/Verdana-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url($verdana-font-path + "/Verdana.eot");
    src:
        local("Verdana"),
        url($verdana-font-path + "/Verdana.eot?#iefix") format("embedded-opentype"),
        url($verdana-font-path + "/Verdana.woff2") format("woff2"),
        url($verdana-font-path + "/Verdana.woff") format("woff"),
        url($verdana-font-path + "/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url($verdana-font-path + "/Verdana-Bold.eot");
    src:
        local("Verdana Bold"),
        local("Verdana-Bold"),
        url($verdana-font-path + "/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
        url($verdana-font-path + "/Verdana-Bold.woff2") format("woff2"),
        url($verdana-font-path + "/Verdana-Bold.woff") format("woff"),
        url($verdana-font-path + "/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

$__body__font__family: "Verdana", sans-serif;
$__body__font__size: 16px;
$__btn__font__size: 16px;
$__btn__sm_font__size: 13.6px;

$__bold: 700;
$__semibold: 600;
$__medium: 500;
$__regular: 400;
$__light: 300;

$__font__size__12: 12px;
$__font__size__13: 13px;
$__font__size__14: 14px;
$__font__size__15: 15px;
$__font__size__16: 16px;
$__font__size__18: 18px;
$__font__size__20: 20px;
$__font__size__24: 24px;
$__font__size__28: 28px;
$__font__size__30: 30px;
$__font__size__32: 32px;
$__font__size__36: 36px;
$__font__size__62: 62px;

h1 {
    font-weight: $__bold;
    font-size: $__font__size__36;
    @include respond-below(custom991) {
        font-size: $__font__size__32;
    }
}
h2 {
    font-weight: $__bold;
    font-size: $__font__size__32;
    @include respond-below(custom991) {
        font-size: $__font__size__30;
    }
    @include respond-below(custom767) {
        font-size: $__font__size__28;
    }
}
h3 {
    font-weight: $__semibold;
    font-size: $__font__size__24;
    @include respond-below(custom991) {
        font-size: $__font__size__20;
    }
    @include respond-below(custom767) {
        font-size: $__font__size__18;
    }
}
h4 {
    font-weight: $__semibold;
    font-size: $__font__size__20;
    @include respond-below(custom991) {
        font-size: $__font__size__18;
    }
}
h5 {
    font-weight: $__semibold;
    font-size: $__font__size__18;
    @include respond-below(custom991) {
        font-size: $__font__size__16;
    }
}
h6 {
    font-weight: $__medium;
    font-size: $__font__size__16;
    @include respond-below(custom991) {
        font-size: $__font__size__15;
    }
}
